version: "3"
services:
  showdown:
    build:
      context: showdown
      dockerfile: Dockerfile
    ports:
      - 8081:8081
    container_name: showdown-server
    volumes:
      - ./showdown/config.js:/pokemon-showdown/config/config.js
      - ./showdown/usergroups.csv:/pokemon-showdown/config/usergroups.csv
    networks:
      - back

  #-------------------
  # How to add more agent pairs
  #
  #  1. copy an existing agent block
  #  2. change the service names (increase number)
  #  3. change container_name (increase number)
  #  4. change volume ./datasets/x:/showdown/dataset in both
  #     agents (just for safety because the challenger needs to access this directory,
  #     and I don't know how good this will work if multiple challengers work in the same directory)
  #  5. change depends_on of challenger to the corresponding partner
  #  6. change ipv4_address (increase last diget)
  #  7. add the ip of step 6 into showdown/config.js -> exports.consoleips
  #  8. copy pmariglia/envs/accept and pmariglia/envs/challenge and change
  #     username, password and challenge_user accordingly (a username can only have 18 chars or less)
  #  9. change the env files in the docker-compose to the new env files for the pair
  # 10. add the new challenge user to showdown/usergroups.csv
  # 11. register the new challenge user to showdown
  #-------------------

  #-------------------
  # agent pair 1
  #-------------------
  pmariglia_accept_1:
    depends_on:
      - showdown
    build:
      context: pmariglia
      dockerfile: Dockerfile
    expose:
      - 8081
    container_name: pmariglia-accept-1
    volumes:
      - $PWD/pmariglia/envs/accept1:/showdown/.env
      - $PWD/datasets/1:/showdown/dataset
      - $PWD/teams:/showdown/teams/teams
    networks:
      - back
  pmariglia_challenge_1:
    depends_on:
      - pmariglia_accept_1
    build:
      context: pmariglia
      dockerfile: Dockerfile
    expose:
      - 8081
    container_name: pmariglia-challenge-1
    volumes:
      - $PWD/pmariglia/envs/challenge1:/showdown/.env
      - $PWD/datasets/1:/showdown/dataset
      - $PWD/teams:/showdown/teams/teams
    networks:
      back:
        ipv4_address: 172.25.0.101

  #-------------------
  # agent pair 2
  #-------------------
  pmariglia_accept_2:
    depends_on:
      - showdown
    build:
      context: pmariglia
      dockerfile: Dockerfile
    expose:
      - 8081
    container_name: pmariglia-accept-2
    volumes:
      - $PWD/pmariglia/envs/accept2:/showdown/.env
      - $PWD/datasets/2:/showdown/dataset
      - $PWD/teams:/showdown/teams/teams
    networks:
      - back
  pmariglia_challenge_2:
    depends_on:
      - pmariglia_accept_2
    build:
      context: pmariglia
      dockerfile: Dockerfile
    expose:
      - 8081
    container_name: pmariglia-challenge-2
    volumes:
      - $PWD/pmariglia/envs/challenge2:/showdown/.env
      - $PWD/datasets/2:/showdown/dataset
      - $PWD/teams:/showdown/teams/teams
    networks:
      back:
        ipv4_address: 172.25.0.102

  #-------------------
  # agent pair 4
  #-------------------
  pmariglia_accept_4:
    depends_on:
      - showdown
    build:
      context: pmariglia
      dockerfile: Dockerfile
    expose:
      - 8081
    container_name: pmariglia-accept-4
    volumes:
      - $PWD/pmariglia/envs/accept4:/showdown/.env
      - $PWD/datasets/4:/showdown/dataset
      - $PWD/teams:/showdown/teams/teams
    networks:
      - back
  pmariglia_challenge_4:
    depends_on:
      - pmariglia_accept_4
    build:
      context: pmariglia
      dockerfile: Dockerfile
    expose:
      - 8081
    container_name: pmariglia-challenge-4
    volumes:
      - $PWD/pmariglia/envs/challenge4:/showdown/.env
      - $PWD/datasets/4:/showdown/dataset
      - $PWD/teams:/showdown/teams/teams
    networks:
      back:
        ipv4_address: 172.25.0.104

  # -------------------
  # agent pair 5 (three somehow doesnt work)
  # -------------------
  pmariglia_accept_5:
    depends_on:
      - showdown
    build:
      context: pmariglia
      dockerfile: Dockerfile
    expose:
      - 8081
    container_name: pmariglia-accept-5
    volumes:
      - $PWD/pmariglia/envs/accept5:/showdown/.env
      - $PWD/datasets/5:/showdown/dataset
      - $PWD/teams:/showdown/teams/teams
    networks:
      - back
  pmariglia_challenge_5:
    depends_on:
      - pmariglia_accept_5
    build:
      context: pmariglia
      dockerfile: Dockerfile
    expose:
      - 8081
    container_name: pmariglia-challenge-5
    volumes:
      - $PWD/pmariglia/envs/challenge5:/showdown/.env
      - $PWD/datasets/5:/showdown/dataset
      - $PWD/teams:/showdown/teams/teams
    networks:
      back:
        ipv4_address: 172.25.0.103

  # -------------------
  # agent pair 6 (three somehow doesnt work)
  # -------------------
  pmariglia_accept_6:
    depends_on:
      - showdown
    build:
      context: pmariglia
      dockerfile: Dockerfile
    expose:
      - 8081
    container_name: pmariglia-accept-6
    volumes:
      - $PWD/pmariglia/envs/accept6:/showdown/.env
      - $PWD/datasets/6:/showdown/dataset
      - $PWD/teams:/showdown/teams/teams
    networks:
      - back
  pmariglia_challenge_6:
    depends_on:
      - pmariglia_accept_6
    build:
      context: pmariglia
      dockerfile: Dockerfile
    expose:
      - 8081
    container_name: pmariglia-challenge-6
    volumes:
      - $PWD/pmariglia/envs/challenge6:/showdown/.env
      - $PWD/datasets/6:/showdown/dataset
      - $PWD/teams:/showdown/teams/teams
    networks:
      back:
        ipv4_address: 172.25.0.105

  # -------------------
  # agent pair 7 (three somehow doesnt work)
  # -------------------
  pmariglia_accept_7:
    depends_on:
      - showdown
    build:
      context: pmariglia
      dockerfile: Dockerfile
    expose:
      - 8081
    container_name: pmariglia-accept-7
    volumes:
      - $PWD/pmariglia/envs/accept7:/showdown/.env
      - $PWD/datasets/7:/showdown/dataset
      - $PWD/teams:/showdown/teams/teams
    networks:
      - back
  pmariglia_challenge_7:
    depends_on:
      - pmariglia_accept_7
    build:
      context: pmariglia
      dockerfile: Dockerfile
    expose:
      - 8081
    container_name: pmariglia-challenge-7
    volumes:
      - $PWD/pmariglia/envs/challenge7:/showdown/.env
      - $PWD/datasets/7:/showdown/dataset
      - $PWD/teams:/showdown/teams/teams
    networks:
      back:
        ipv4_address: 172.25.0.106


  # -------------------
  # agent pair 8 (three somehow doesnt work)
  # -------------------
  pmariglia_accept_8:
    depends_on:
      - showdown
    build:
      context: pmariglia
      dockerfile: Dockerfile
    expose:
      - 8081
    container_name: pmariglia-accept-8
    volumes:
      - $PWD/pmariglia/envs/accept8:/showdown/.env
      - $PWD/datasets/8:/showdown/dataset
      - $PWD/teams:/showdown/teams/teams
    networks:
      - back
  pmariglia_challenge_8:
    depends_on:
      - pmariglia_accept_8
    build:
      context: pmariglia
      dockerfile: Dockerfile
    expose:
      - 8081
    container_name: pmariglia-challenge-8
    volumes:
      - $PWD/pmariglia/envs/challenge8:/showdown/.env
      - $PWD/datasets/8:/showdown/dataset---
        pmariglia_accept_8
      - $PWD/teams:/showdown/teams/teams
    networks:
      back:
        ipv4_address: 172.25.0.107


  # -------------------
  # agent pair 9 (three somehow doesnt work)
  # -------------------
  pmariglia_accept_9:
    depends_on:
      - showdown
    build:
      context: pmariglia
      dockerfile: Dockerfile
    expose:
      - 8081
    container_name: pmariglia-accept-9
    volumes:
      - $PWD/pmariglia/envs/accept9:/showdown/.env
      - $PWD/datasets/9:/showdown/dataset
      - $PWD/teams:/showdown/teams/teams
    networks:
      - back
  pmariglia_challenge_9:
    depends_on:
      - pmariglia_accept_9
    build:
      context: pmariglia
      dockerfile: Dockerfile
    expose:
      - 8081
    container_name: pmariglia-challenge-9
    volumes:
      - $PWD/pmariglia/envs/challenge9:/showdown/.env
      - $PWD/datasets/9:/showdown/dataset
      - $PWD/teams:/showdown/teams/teams
    networks:
      back:
        ipv4_address: 172.25.0.108


  # -------------------
  # agent pair 10 (three somehow doesnt work)
  # -------------------
  pmariglia_accept_10:
    depends_on:
      - showdown
    build:
      context: pmariglia
      dockerfile: Dockerfile
    expose:
      - 8081
    container_name: pmariglia-accept-10
    volumes:
      - $PWD/pmariglia/envs/accept:/showdown/.env
      - $PWD/datasets/10:/showdown/dataset
      - $PWD/teams:/showdown/teams/teams
    networks:
      - back
  pmariglia_challenge_10:
    depends_on:
      - pmariglia_accept_10
    build:
      context: pmariglia
      dockerfile: Dockerfile
    expose:
      - 8081
    container_name: pmariglia-challenge-10
    volumes:
      - $PWD/pmariglia/envs/challenge:/showdown/.env
      - $PWD/datasets/10:/showdown/dataset
      - $PWD/teams:/showdown/teams/teams
    networks:
      back:
        ipv4_address: 172.25.0.109


networks:
  back:
    driver: bridge
    ipam:
      config:
      - subnet: 172.25.0.0/24
